body {
    font-family: sans-serif;
} 
header{
 background:color: aqua;
 border-radius: 5px;

title{
    font-size: 24px;
  text-align: center;
} 
nav{
    border: aqua;
}

nav a{
    text-decoration: none;
}
